* {
    margin: 0%;
    padding: 0%;
}

ul {
    list-style: none;
}

body {
    background-color: #999;
}

.main {
    width: 100%;
    max-width: 600px;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #555;
}

.searchMain {
    width: 80%;
    margin-top: 50px;
    background-color: aqua;
    /* display: flex; */
    /* align-items: center; */
    /* justify-items: center; */
    position: relative;
}

.search {
    width: 80%;
    height: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.listItemsMain {
    width: 80%;
    margin-top: 60px;
    max-height: 300px;
    overflow-y: scroll;
}

.listItem {
    width: 100%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    /* background-color: brown; */
}

.items {
    display: flex;
    /* background-color: aqua; */
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.textSpan,
.btnDelet {
    padding: 10px;
}

.btnDelet {
    background-color: #8f2121;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
}

.btnDelet:hover {
    background-color: #974b4b;
}